@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* .Login {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
} */

/* .LoginBox {
  margin-top: 8rem;
  width: 350px;
  height: 400px;
  background-color: "neutral-900";
  padding: 20px;
  /* display: flex; */
  /* flex-direction: column;
  justify-content: space-between;
  align-items: center;
} */

/* .LoginHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: bolder;
  color: #cdcdce;
} */

/* .inputs {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
} */

/* .email{
  width: 100%;
  padding: 10px;
  align-items: center;
  box-sizing: border-box;
} */

/* .password {
  width: 100%;
  padding: 10px;
  align-items: center;
  box-sizing: border-box;
} */

.Background {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  background-color: "neutral-900";
  color: #ffffff;
}

/* LoginPage.css */ 

/* Center the login container in the middle of the screen */
.login-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  padding-right: 150px;
}

/* Style the login box */
.login-box {
  background-color: rgb(65, 65, 65);
  text-align: center;
  padding: 25px;
  border: 1px solid #2e2e2e;
  border-radius: 10px;
}

.login-text {
  font-size: large;
}

/* Style the OAuth buttons */
.oauth-buttons {
  margin-top: 20px;
}

/* Style the GitHub button */
.github-button {
  background-color: #333333;
  color: #fff;
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Style the Google button */
.google-button {
  background-color: #333333;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Style the input groups */
.input-group {
  margin-bottom: 15px;
  width: '50%';
}

/* Style labels for input fields */
.input-group label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.input-group input {
  font-family: Verdana;
  color: #333333;
  width: calc(100% - 24px);
  box-sizing: border-box;
  margin-bottom: 5px;
  padding: 8px;
  box-sizing: border-box;
}

.show-password-label {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.show-password-label input {
  margin-right: 5px;
}

.forgot-password {
  font-size: 13px;
  margin-top: 10px; /* Adjust the margin as needed for spacing */
  text-align: left;
  color: #dbdbdb; /* Change the color as needed */
  text-decoration: none;
  font-weight: normal;
}

.login-button {
  font-size: 15px;
  background-color: #333333;
  color: #fff;
  border-radius: 8px;
  padding: 10px 15px;
  border: none;
}

.hideform
{
  display: none;
}

.register {
  background-color: #333333;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}